<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<table borde="2">
<thead><</thead>
{%for i in u_obj%}
<tr><td>USER_NAME</td><td>{{i.username}}</td>
	{% endfor %}
</tr>
</table>

<table border="2">
<thead><</thead>
{% for i in e %}
<tr><td>EMAIL</td><td>{{i.Email}}</td>
	{% endfor %}
</tr>
</table>

<table border="2">
<thead><</thead>
{% for i in a %}
<tr><td>ADDRESS</td><td>{{i.Address}}</td>
	{% endfor %}
</tr>
</table>

<table border="2">
<thead><</thead>
{% for i in e %}
<tr><td>Email/td><td>{{i.Email}}</td>
	{% endfor %}
</tr>
</table>

<table border="2">
<thead><</thead>
{% for i in pi %}
<tr><td>PROFILE_PIC/td><td>{{i.User_pic}}</td>
	{% endfor %}
</tr>
</table>


</body>
</html>